<div id="<%= dom_id property %>">
  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= property.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= property.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= property.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Picture url:</strong>
    <%= property.picture_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= property.status %>
  </p>

</div>
